@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");

/* .............Fonts............. */
:root {
  --font-default: "Open Sans", sans-serif;
  --font-heading: "Amatic SC", sans-serif;
}

/*............. Colors........... */
:root {
  --color-default: #212529;
  --color-primary: #ce1212;
  --color-secondary: #37373f;
}
/* ..............basic............ */
body {
  font-family: var(--font-default);
  color: var(--color-default);
}
a {
  color: var(--color-primary);
  text-decoration: none;
}
h2 {
  letter-spacing: 1px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  color: #7f7f90;
  text-transform: uppercase;
  font-family: var(--font-default);
}
